/*  your css code here. If applicable */
td,th{
	border:1px solid rgb(204,204,204);
	border-radius:5px;
	padding:0.5rem;

}
#t1{
	border:1px solid rgb(204,204,204);
	border-radius:5px;
	padding:0.5rem;

}
#t2{
	border:1px solid rgb(204,204,204);
	border-radius:5px;
	padding:0.5rem;

}
#t3{
	border:1px solid rgb(204,204,204);
	border-radius:5px;
	padding:0.5rem;

}
#t4{
	border:1px solid rgb(204,204,204);
	border-radius:5px;
	padding:0.5rem;

}
tr:nth-child( odd) { 
            background-color: rgb(242,242,242); 
        }
tr:nth-child( even) { 
            background-color: rgb(255,255,255); 
        }

